<div id="ouibounce-modal" style="display: none;">
  <div class="underlay"></div>
  <div class="ouibounce-modal">
    <div class="modal-title">
      <h3>¡Obtén estrategias de ventas para optimizar tu tienda y duplicar tus conversiones!</h3>
    </div>
    <div class="modal-body">
      <p>Esta guía de 25 puntos para optimizar tu tienda Shopify es totalmente gratuita y práctica, con ideas que debes conocer acerca de cómo optimizar eficientemente tu tienda en Shopify. Ahorra horas de ensayo y error y duplica tus ventas.</p>
      <%= partial "partials/drip-modal-form" %>
    </div>
    <div class="modal-footer">
      <p>No gracias</p>
    </div>
  </div>
</div>
<script>
  setTimeout(function(){
    // if you want to use the 'fire' or 'disable' fn,
    // you need to save OuiBounce to an object
    var _ouibounce = ouibounce(document.getElementById('ouibounce-modal'), {
      aggressive: true,
      timer: 0
    });

    $('body').on('click', function() {
      $('#ouibounce-modal').hide();
    });

    $('#ouibounce-modal .modal-footer').on('click', function() {
      $('#ouibounce-modal').hide();
    });

    $('#ouibounce-modal .ouibounce-modal').on('click', function(e) {
      e.stopPropagation();
    });
  }, 2000);
</script>
