<!-- FOOTER -->
<footer class="footer">
    <div class="copy-row">
        <div class="container text-center">
            <div class="copy-info">
                <img src="images/magma-logo-footer.png" alt="" />
            </div>
            <div class="copy">© 2016 Magma Interactive | <a href="privacidad.html">Aviso de privacidad</a> | <a href="terminos.html">Términos y condiciones de uso</a></div>
            <div>
              <p>Haciendo compañías de e-commerce mas rentables</p>
            </div>
        </div>
    </div>
</footer>
