<!-- HEADER -->
<header class="header" >
        <div class="container">
            <div class="nav-panel clearfix">
                <a href="index.html" class="logo">
                    <img class="logo-light logo-standart" src="images/magma-logo-white.png" alt="logo">
                    <img class="logo-light logo-retina" src="images/magma-logo-white.png" alt="logo">
                    <img class="logo-dark logo-standart" src="images/magma-logo-blk.png" alt="logo">
                    <img class="logo-dark logo-retina" src="images/magma-logo-blk.png" alt="logo">
                </a>
                <div class="info-panel">
                    <a class="open-menu" href="#"><i class="fa fa-bars"></i></a>
                </div>
                <nav class="nav">
                    <ul>
                        <li class="sub-menu-parent">
                            <a href="/" onclick="return false;">servicios</a>
                            <span class="fa open-sb-menu fa-chevron-down"></span>
                            <ul class="sub-menu sb">
                                <li><a href="implementacion.html">Implementación</a></li>
                                <li><a href="diseno.html">Diseño y desarrollo</a></li>
                                <li><a href="optimizacion.html">Optimización</a></li>
                                <li><a href="marketing.html">Marketing</a></li>
                                <li class="sub-menu-child">
                                  <ul>
                                    <li><a href="email-marketing.html">Email marketing</a></li>
                                    <li><a href="ecommerce-seo.html">Ecommerce SEO</a></li>
                                    <li><a href="ppc.html">PPC marketing</a></li>
                                  </ul>
                                </li>
                            </ul>
                        </li>
                    <!--    <li><a href="articulos.html">articulos</a></li> -->
                        <li><a href="contacto.html">contacto</a></li>
                    </ul>
                    <a class="close-menu" href="#"><i class="fa fa-times"></i></a>
                </nav>
            </div>
        </div>
</header>
