<div class="banner banner-template">
    <div class="container">
        <div class="title-header">
            <h1><%= current_page.data.title || "Middleman" %></h1>
        </div>
    </div>
    <div class="scroll-to mouse"><span></span></div>
    <div class="clip">
        <div class="bg bg-bg" style="background-image:url(images/interior_3.jpg)"></div>
    </div>
    <div class="overlay"></div>
</div>
