<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="contact-form">
      <form action="//formspree.io/escobar97@hotmail.com" method="POST" class="page-form clearfix" id="optimization-form">
        <div class="row">
          <div class="col-md-6">
            <input name="nombre" class="p-input" type="text" placeholder="Nombre*" required/>
          </div>
          <div class="col-md-6">
            <input name="email" class="p-input" required type="email" placeholder="Email*" required/>
          </div>
        </div>
        <input name="sitio-web" class="p-input" required type="text" placeholder="Sitio Web*" required/>
        <input class="p-submit button-type-4 button-main-cta" type="submit" value="Solicita tu consulta"/>
        <input type="hidden" name="_next" value="//magmainteractive.com/gracias.html" />
        <input type="hidden" name="_subject" value="Contacto Magma Interactive" />
        <input type="hidden" name="_cc" value="magmainteractive.qww03@zapiermail.com" />
      </form>
    </div>
  </div>
</div>
