<div class="search-panel">
    <div class="container clearfix">
        <input type="search" class="search-input" placeholder="Start typing..."/>
        <a href="#" class="fa fa-times close-search"></a>
    </div>
</div>
