<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="contact-form">
      <form action="//formspree.io/escobar97@hotmail.com" method="POST" class="page-form clearfix" id="service-form">
        <div class="row">
          <div class="col-md-6">
            <input name="nombre" class="p-input" type="text" placeholder="Nombre*" required/>
          </div>
          <div class="col-md-6">
            <input name="compania" class="p-input" type="text" placeholder="Compañia*" required/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input name="email" class="p-input" required type="email" placeholder="Email*" required/>
          </div>
          <div class="col-md-6">
            <input name="telefono" class="p-input" required type="text" placeholder="Teléfono*" required/>
          </div>
        </div>
        <div class="select-wrapper">
          <select name="area" id="area" class="p-input">
            <option value="">Me interesa</option>
            <option value="implementacion">Implementación</option>
            <option value="diseno">Diseño y desarrollo</option>
            <option value="marketing">Marketing</option>
          </select>
        </div>
        <textarea name="mensaje" placeholder="Mensaje*" class="p-textarea" required></textarea>
        <input class="p-submit button-type-4 button-main-cta" type="submit" value="Solicita tu cotización"/>
        <input type="hidden" name="_next" value="//magmainteractive.com/gracias.html" />
        <input type="hidden" name="_subject" value="Contacto Magma Interactive" />
        <input type="hidden" name="_cc" value="magmainteractive.qww03@zapiermail.com" />
      </form>
    </div>
  </div>
</div>
