---
title: Pagina no encontrada - Magma Interactive
layout: 404_layout
---

<!-- MAIN -->
<main class="main main-404">
  <section class="section" id="404">
    <div class="container container-404">
      <a href="index.html" class="logo logo-404">
        <img class="logo-light logo-standart" src="images/magma-logo-white.png" alt="logo">
        <img class="logo-light logo-retina" src="images/magma-logo-white.png" alt="logo">
      </a>
      <h1 class="title-404">Pagina no encontrada</h1>
      <p class="copy-404">La pagina que buscas fue movida, eliminada, renombrada o quizás nunca existió.</p>
      <div class="button-container-404">
        <a href="https://www.magmainteractive.com" class="button button-type-2-lg btn-home-404">Volver a la pagina de inicio</a>
        <a href="mailto:contacto@magmainteractive.com" class="button button-type-2-lg btn-mail-404">Reportar el error</a>
      </div>
    </div>
  </section>
</main>
