---
title: Articulos - Magma Interactive
---

<div class="banner banner-template">
  <div class="container">
    <div class="title-header">
      <h1>Artículos
      </h1>
      <h6 class="header-sub-title">Lo ultimo en comercio electrónico</h6>
    </div>
  </div>
  <div class="scroll-to mouse">
    <span></span>
  </div>
  <div class="clip">
    <div class="bg bg-bg" style="background-image:url(images/interior_3.jpg)"></div>
  </div>
  <div class="overlay"></div>
</div>
<!-- MAIN -->
<main class="main-blog start-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <% blog.articles[0...5].each do |article| %>
        <article class="post">
          <a class="post-img-link" href="<%= article.url %>">
            <img src="images/post-img-9.jpg" alt="">
          </a>
          <div class="post-info">
            <div class="post-content">
              <h2 class="post-title">
                <a href="<%= article.url %>"><%= article.title %></a>
              </h2>
              <div class="post-info-row">
                <div class="post-info-item">
                  <i class="fa fa-folder-open-o"></i>
                  en <%= article.data.category %> by <%= article.data.author %>
                </div>
              </div>
              <p><%= article.summary %></p>
              <a class="button button-type-3-xs" href="<%= article.url %>">Saber mas</a>
            </div>
          </div>
        </article>
        <% end %>
        <div class="post-pagination">
          <ul class="post-pagination-list clearfix">
            <li class="active">
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <span>...</span>
            </li>
            <li>
              <a href="#">9</a>
            </li>
          </ul>
          <a class="next-page" href="#">
            <i class="fa fa-chevron-right"></i>
          </a>
          <a class="prev-page" href="#">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="widget">
          <h3 class="middle-title">Categorias</h3>
          <ul class="widget-list">
            <% blog.tags.each do |tag, articles| %>
              <li>
                <a href="<%= tag_path(tag) %>"><%= tag %>
                  <span>- <%= articles.size %>
                  </span>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="widget">
          <h3 class="middle-title">Etiquetas</h3>
          <div class="tags-box clearfix">
            <% blog.tags.each do |tag, articles| %>
              <a class="tags button button-type-3-xs" href="<%= tag_path(tag) %>"><%= tag %> (<%= articles.size %>)</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
