---
title: Contacto - Magma Interactive
description: ¡Ponte en contacto!
keywords: "contacto, magmainteractive, e-commerce"
---

<div class="banner banner-template">
  <div class="container">
    <div class="title-header">
      <h1>¡Ponte en contacto!</h1>
      <h6 class="header-sub-title">Estamos aquí para ayudarte a ser más rentable</h6>
    </div>
  </div>
  <div class="scroll-to mouse">
    <span></span>
  </div>
  <div class="clip">
    <div class="bg bg-bg" style="background-image:url(images/interior_3.jpg)"></div>
  </div>
  <div class="overlay"></div>
</div>
<!-- MAIN -->
<main class="main start-block">
  <section class="section section-border" id="contact">
    <div class="container">
      <div class="row contact-details">
        <div class="col-md-4">
          <div class="title-block">
            <img src="images/Icon-phone.png" class="contact-details-icon" alt="">
            <h2 class="title">Teléfono:</h2>
            <div class="sub-title">
              <a class="white-bg contact-details-data" href="tel:+525555322123">
                +52 55 5532 2123</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="title-block">
            <img src="images/Icon-mail.png" class="contact-details-icon" alt="">
            <h2 class="title">email:</h2>
            <div class="sub-title">
              <a class="white-bg contact-details-data" href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#111;&#064;&#109;&#097;&#103;&#109;&#097;&#105;&#110;&#116;&#101;&#114;&#097;&#099;&#116;&#105;&#118;&#101;&#046;&#099;&#111;&#109;">&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#111;&#064;&#109;&#097;&#103;&#109;&#097;&#105;&#110;&#116;&#101;&#114;&#097;&#099;&#116;&#105;&#118;&#101;&#046;&#099;&#111;&#109;</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="title-block">
            <img src="images/Icon-skype.png" class="contact-details-icon" alt="">
            <h2 class="title">Skype:</h2>
            <div class="sub-title">
              <a class="white-bg contact-details-data" href="tel:magmainteractive">magmainteractive</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--SECTION-->
  <section class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-block">
            <div class="sub-title">
              Por favor proporcionamos tantos detalles como te sea posible para poder darte la mejor atención. Nos pondremos en contacto lo mas pronto posible típicamente respondemos el mismo día laboral.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="contact-form">
            <form action="//formspree.io/escobar97@hotmail.com" method="POST" class="page-form clearfix" id="contact-form">
              <div class="row">
                <div class="col-xs-12">
                  <input name="nombre" class="p-input" type="text" placeholder="Nombre*" required/>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <input name="email" class="p-input" required type="email" placeholder="Email*" required/>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <textarea name="mensaje" placeholder="Mensaje*" class="p-textarea" required></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <input class="p-submit button-type-4 button-main-cta" type="submit" value="Enviar el mensaje"/>
                </div>
              </div>
              <input type="hidden" name="_next" value="//magmainteractive.com/gracias.html"/>
              <input type="hidden" name="_subject" value="Contacto Magma Interactive" />
              <input type="hidden" name="_cc" value="magmainteractive.qww03@zapiermail.com" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--SECTION-->
</main>
