---
title: DISEÑO DE CALIDAD PARA QUE VENDAS MÁS
description: Hoy en día una experiencia de usuario sobresaliente es la clave para ganar clientes recurrentes
keywords: diseño, e-commerce
---

<div class="banner banner-template">
  <div class="container">
    <div class="title-header">
      <h1>Diseño de calidad para
        <br>que vendas más</h1>
      <h6 class="header-sub-title">Hoy en día una experiencia de usuario sobresaliente
        <br>es la clave para ganar clientes recurrentes</h6>
    </div>
  </div>
  <div class="scroll-to mouse">
    <span></span>
  </div>
  <div class="clip">
    <div class="bg bg-bg" style="background-image:url(images/interior_3.jpg)"></div>
  </div>
  <div class="overlay"></div>
</div>
<!-- MAIN -->
<main class="main start-block">
  <!--SECTION-->
  <section class="section section-border start-block">
    <div class="container">
      <div class="padding-bottom-35">
        <div class="row vertical-center">
          <div class="col-xs-12 col-md-7">
            <h2 class="middle-title middle-title-lg">Temas de Shopify diseñados exclusivamente para tu negocio</h2>
            <p>Después de una reunión de kick off para definir tu visión y objetivos específicos y despues de un layout en wire-frames con notas sobre la interface y el diseño aparecerá una tienda Shopify totalmente funcional. Esto asume que el look and feel
              deseado ha sido generado en un documento de brief ( si lo deseas podemos facilitar ese proceso de planeación).</p>
          </div>
          <div class="col-xs-12 col-md-5">
            <img src="images/Icon-hero-design.png" class="img-responsive" alt="Responsive image">
          </div>
        </div>
      </div>
      <div class="padding-bottom-35">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="middle-title middle-title-lg">Una tienda consiste de las siguientes partes:</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h4 class="middle-title middle-title-md">Inicio y páginas estáticas</h4>
            <ul class="list list-type-3">
              <li>Banners y sliders</li>
              <li>Página de destacados/grids de productos/ detalles de productos</li>
              <li>Blog/noticias</li>
              <li>Sign-up a lista de correo electrónico</li>
              <li>Integraciones de redes sociales</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="middle-title middle-title-md">Páginas de productos</h4>
            <ul class="list list-type-3">
              <li>Etiquetas meta específicas de usuarios</li>
              <li>Switching y zool de imágenes de productos</li>
              <li>Social Sharing Inteligente</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="middle-title middle-title-md">Páginas de grid de productos</h4>
            <ul class="list list-type-3">
              <li>Paginación intuitiva y opciones de scrolling</li>
              <li>Ordenado y filtrado avanzado</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="padding-bottom-35">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="middle-title middle-title-lg">Extras para tu tema de Shopify personalizado</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h4 class="middle-title middle-title-md">Páginas de perfil de cliente personalizadas</h4>
            <p>En shopify las cuentas de clientes no están activadas por defecto. Si quieres darle a tus clientes la facilidad de acceder a su información de pedidos, actualizar sus datos de pago y envío y que los tengan pre llenados en su próxima compra, puedes
              hacerlo tan fácil como prender un switch. Si quieres que estas páginas tenga una apariencia acorde a tu tema, también lo puedes hacer!</p>
          </div>
          <div class="col-md-4">
            <h4 class="middle-title middle-title-md">Plantillas de notificaciones de email personalizadas</h4>
            <p>Por defecto tus clientes recibirán un email de notificación en texto plano cuando hacen una compra o cuando su compra se actualiza (con información de envío, números de tracking, etc) Podemos crear plantillas de email personalizadas para usarlas
              en lugar de las estándar
            </p>
          </div>
          <div class="col-md-4">
            <h4 class="middle-title middle-title-md">Personalizar el proceso de checkout</h4>
            <p>Shopify usa un proceso de checkout único. Esto es con el propósito de asegurar la seguridad. Se puede crear un archivo checkout.css personalizado para alinear esta página con el diseño general de tu tienda</p>
          </div>
        </div>
      </div>
      <div class="padding-bottom-35">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="middle-title middle-title-lg">Cómo trabajamos tu tema personalizado</h2>
          </div>
        </div>
      </div>
      <div class="padding-bottom-35">
        <div class="row ">
          <div class="col-sm-6 col-md-3 process-style icon-style ">
            <span class="step-line"></span>
            <span class="icon-telescope"></span>
            <div class="step">
              <span class="step-span">Paso 1</span>
            </div>
            <h3 class="middle-title ">Descubrimiento</h3>
            <p>Conocemos tu negocio y sus objetivos, además de tu competencia, el proceso de descubrimiento nos permite tener un marco de trabajo que guiará todo el proceso de diseño.</p>
          </div>
          <div class="col-sm-6 col-md-3 process-style icon-style ">
            <span class="icon-browser"></span>
            <span class="step-line"></span>
            <div class="step">
              <span class="step-span">Paso 2</span>
            </div>
            <h3 class="middle-title ">Arquitectura</h3>
            <p>Siguiendo mejores prácticas de UX y UI preparamos y recomendamos la mejor estructura para la tienda con las páginas y componentes ideales para maximizar tus conversiones.</p>
          </div>
          <div class="col-sm-6 col-md-3 process-style  icon-style ">
            <span class="icon-pencil"></span>
            <span class="step-line"></span>
            <div class="step">
              <span class="step-span">Paso 3</span>
            </div>
            <h3 class="middle-title ">Diseño</h3>
            <p>Nos encargamos que desde la página de inicio hasta el checkout el proceso de compra sea claro y atractivo, todas las partes de la tienda tienen un propósito funcional.</p>
          </div>
          <div class="col-sm-6 col-md-3 process-style icon-style ">
            <span class="icon-laptop"></span>
            <span class="step-line"></span>
            <div class="step">
              <span class="step-span">Paso 4</span>
            </div>
            <h3 class="middle-title ">Desarrollo</h3>
            <p>Con el diseño se trabaja la funcionalidad de la tienda siguiendo estándares y mejores prácticas de desarrollo para temas de Shopify.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--SECTION-->
  <section class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-block">
            <h2 class="title">Obtén un presupuesto para tu tema</h2>
            <div class="sub-title">
              Por favor proporcionamos tantos detalles como te sea posible para poder darte la mejor atención. Nos pondremos en contacto lo mas pronto posible típicamente respondemos el mismo día laboral.
            </div>
          </div>
        </div>
      </div>
      <%= partial "partials/service-form" %>
    </div>
  </section>
  <!--SECTION-->
  <%= partial "partials/lead-magnet" %>
</main>
