---
title: email Marketing
description: La mejor manera de mantenerte en contacto con tus clientes actuales y potenciales
keywords: e-commerce, shopify
---

<div class="banner banner-template">
  <div class="container">
    <div class="title-header">
      <h1>email Marketing</h1>
      <h6 class="header-sub-title">La mejor manera de mantenerte en contacto con tus clientes actuales y potenciales</h6>
    </div>
  </div>
  <div class="scroll-to mouse">
    <span></span>
  </div>
  <div class="clip">
    <div class="bg bg-bg" style="background-image:url(images/interior_3.jpg)"></div>
  </div>
  <div class="overlay"></div>
</div>
<!-- MAIN -->
<main class="main start-block">
  <!--SECTION-->
  <section class="section section-border start-block">
    <div class="container">
      <div class="padding-bottom-35">
        <div class="row vertical-center">
          <div class="col-xs-12 col-md-9">
            <p>El marketing por correo electrónico te ofrece un montón de ganancias en tu inversión de publicidad. Tanto si deseas decirle a tus clientes acerca de tu última promoción, nuevo producto o simplemente mantenerte en contacto con un boletín de noticias, estamos listos para ayudarte.</p>
          </div>
          <div class="col-xs-12 col-md-3 hidden-xs">
            <img src="images/Icon_e-mail-marketing.png" class="img-responsive" alt="Responsive image">
          </div>
        </div>
      </div>
      <div class="padding-bottom-35">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="middle-title middle-title-lg">Las campañas de email Marketing que te ofrecemos contemplan:</h2>
          </div>
        </div>
      </div>
      <div class="row padding-bottom-35">
        <div class="col-sm-6 icon-style icon-style-2">
          <span class="icon-tools"></span>
          <h3 class="middle-title ">emails a la medida</h3>
          <p>Nuestros correos electrónicos a medida están diseñados para que reflejen tu marca y son la manera perfecta para mantenerse en contacto con tus clientes. Creamos campañas de una sola vez con diseño personalizado (lanzamientos, eventos, etc), también formatos reutilizables correos promocionales.</p>
        </div>
        <div class="col-sm-6 icon-style icon-style-2">
          <span class="icon-mobile"></span>
          <h3 class="middle-title ">emails listos para móviles</h3>
          <p>Más del 50% del correo electrónico se lee en los dispositivos móviles hoy en día. Con esto en mente, nuestros correos se ven excelente en las pantallas de los dispositivos móviles. Una mejor experiencia de correo electrónico conduce aún más clicks, un mayor interes y mejores resultados.</p>
        </div>

        <div class="col-sm-6 icon-style icon-style-2">
          <span class="icon-gift"></span>
          <h3 class="middle-title ">Programas de fidelización</h3>
          <p>Genera ventas consecutivas ofreciendo incentivos como descuentos o productos adicionales gratuitos a tus compradores más fieles, te ofrecemos medios para viralizar tus promociones y hacerlas más exitosas.</p>
        </div>
        <div class="col-sm-6 icon-style icon-style-2">
          <span class="icon-gears"></span>
          <h3 class="middle-title ">Automatización de correos electrónicos</h3>
          <p>Te ofrecemos el envío de correos automáticos de bienvenida cuando alguien se registra. Dile a tus seguidores sobre un evento próximo. La automatización de correos electrónicos hace que sea fácil mantenerse en contacto con sus contactos.</p>
        </div>
        <div class="col-sm-6 icon-style icon-style-2">
          <span class="icon-piechart"></span>
          <h3 class="middle-title ">Reportes de resultados </h3>
          <p>Los resultados de cada campaña que lanzamos se reportan de manera clara con un conjunto de informes en tiempo real que te permiten ver quien la abrió, lo que les interesa, con quien lo compartieron y más.</p>
        </div>
        <div class="col-sm-6 icon-style icon-style-2">
          <span class="icon-profile-male"></span>
          <h3 class="middle-title ">Administración de suscriptores</h3>
          <p>Tomamos los dolores de cabeza de la gestión de suscriptores para que puedas centrarte en lo que más importa - conocer tu audiencia. Rebotes, cancelaciones, la suscripción, etc … los manejamos por ti.</p>
        </div>
      </div>
      <div class="padding-bottom-35"></div>
      <div class="padding-bottom-35"></div>
      <div class="padding-bottom-35">
        <div class="row ">
          <div class="col-sm-8">
            <p>Nuestro sistema de correo electrónico de gran alcance nos permite crear y enviar mensajes de correo electrónico efectivos gestionando la parte técnica de la operación y el diseño, trabajemos juntos la parte estratégica de la campaña y déjanos las partes tediosas a nosotros.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--SECTION-->
  <section class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-block">
            <h2 class="title">Empieza a ganar con email marketing en tu tienda online</h2>
            <div class="sub-title">
              Por favor proporcionamos tantos detalles como te sea posible para poder darte la mejor atención. Nos pondremos en contacto lo mas pronto posible típicamente respondemos el mismo día laboral.
            </div>
          </div>
        </div>
      </div>
      <%= partial "partials/service-form" %>
    </div>
  </section>
  <!--SECTION-->
  <%= partial "partials/lead-magnet" %>
</main>

<script>
  setTimeout(function () {
    // A $( document ).ready() block.
    $(document).ready(function () {
      $("#area").val("marketing");
    });
  }, 2000);
</script>
