---
title: Guia definitiva de ecommerce - Magma Interactive
---

<div class="banner banner-template">
    <div class="container">
        <div class="title-header">
            <h1>Guia definitiva de ecommerce</h1>
        </div>
    </div>
    <div class="scroll-to mouse">
        <span></span>
    </div>
    <div class="clip">
        <div class="bg bg-bg" style="background-image:url(images/interior_3.jpg)"></div>
    </div>
    <div class="overlay"></div>
</div>
<!-- MAIN -->
<main class="main start-block">
    <section class="section" id="contact">
        <div class="container thanks-container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title-block">
                        <h2 class="title">Hola, aqui esta tu copia de la Guia definitiva de ecommerce, también te enviaremos a tu email un link para descargarla</h2>
                    </div>
                </div>
            </div>
            <div class="row padding-bottom-35">
              <div class="col-xs-12 padding-bottom-35">
                  <a class="button button-type-2-lg lead-dwn-btn" href="#">Descargar la guia</a>
              </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img src="images/Icon-shopping-cart.png" alt="" class="shopping-icon">
                </div>
            </div>
            <div class="row">
                <div class="col-sx-12">
                    <a class="button button-type-2-lg" href="https://www.magmainteractive.com">volver al inicio</a>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
