---
title: Contacto - Magma Interactive
---

<div class="banner banner-template">
  <div class="container">
    <div class="title-header">
      <h1>¡Gracias por ponerte en contacto!</h1>
    </div>
  </div>
  <div class="scroll-to mouse">
    <span></span>
  </div>
  <div class="clip">
    <div class="bg bg-bg" style="background-image:url(images/interior_3.jpg)"></div>
  </div>
  <div class="overlay"></div>
</div>
<!-- MAIN -->
<main class="main start-block">
  <section class="section" id="contact">
    <div class="container thanks-container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-block">
            <h2 class="title">Te contestaremos tan pronto como nos sea posible</h2>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img src="images/Icon-shopping-cart.png" alt="" class="shopping-icon">
          </div>
        </div>
        <div class="row">
          <div class="col-sx-12">
            <a class="button button-type-2-lg" href="https://www.magmainteractive.com">volver al inicio</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
