---
title: ECHAMOS A ANDAR TU TIENDA EN LÍNEA
description: Vender en internet puede ser intimidante, te ofrecemos nuestra experiencia para que empieces lo más pronto posible.
keywords: implementacion, magma interactive
---

<div class="banner banner-template">
  <div class="container">
    <div class="title-header">
      <h1>Echamos a andar tu tienda en línea</h1>
      <h6 class="header-sub-title">Vender en internet puede ser intimidante, te ofrecemos nuestra
        <br>
        experiencia para que empieces lo más pronto posible.</h6>
    </div>
  </div>
  <div class="scroll-to mouse">
    <span></span>
  </div>
  <div class="clip">
    <div class="bg bg-bg" style="background-image:url(images/interior_3.jpg)"></div>
  </div>
  <div class="overlay"></div>
</div>
<!-- MAIN -->
<main class="main start-block">
  <!--SECTION-->
  <section class="section section-border start-block">
    <div class="container">
      <div class="padding-bottom-35">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="middle-title middle-title-lg">Configurar tu tienda incluye las siguientes tareas:</h2>
          </div>
        </div>
        <div class="row vertical-center">
          <div class="col-sm-3 ">
            <img src="images/Icon_build-website.png" class="img-responsive implementacion" alt="Responsive image">
          </div>
          <div class="col-sm-9 ">
            <div class="row">
              <div class="col-md-6">
                <ul class="list list-type-3">
                  <li>Dar de alta tu cuenta de Shopify y tu dominio.</li>
                  <li>Investigar y ayudar a seleccionar e instalar un tema.</li>
                  <li>Personalizar tu tema para que vaya acorde al branding de tu compañía.</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list list-type-3">
                  <li>Configurar productos (imágenes, descripciones, precios).</li>
                  <li>Configurar tu metodos de envio y de pago.</li>
                  <li>Configurar páginas informativas (términos y condiciones, aviso de privacidad, etc).</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="padding-bottom-35">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="middle-title middle-title-lg">Contamos con dos planes de implementación:</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="service-table">
              <h3>tienda básica</h3>
              <span class="icon-ribbon"></span>
              <p class="text-service"></p>
              <ul class="list-service">
                <li>1 hora de consultoría pre-proyecto.</li>
                <li>Asistencia en la creación de tu cuenta de Shopify.</li>
                <li>Configuración de tu dominio.</li>
                <li>Recomendación de 3 temas de Shopify según el giro de tu negocio.</li>
                <li>Instalación del tema en tu tienda (costo del tema no incluido).</li>
                <li>Dada de alta de hasta 50 productos para que comiences.</li>
                <li>Configuración del formulario de contacto (si el tema cuenta con uno).</li>
                <li>Optimización seo básica de los productos.</li>
                <li>Optimización de las imágenes de productos.</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="service-table">
              <h3>tienda premium</h3>
              <span class="icon-trophy"></span>
              <p class="text-service"></p>
              <ul class="list-service">
                <li>Todo lo incluido en el plan básico, además de;</li>
                <li>Configuración de la navegación y categorías.</li>
                <li>Configuración de hasta 5 páginas informativas.</li>
                <li>Configuración de blog.</li>
                <li>Carga de imagenes para banners y slideshow.</li>
                <li>Personalizar colores de fondo, menú y tipografía.</li>
                <li>Ayuda para configurar las reglas de envio y precios.</li>
                <li>Ayuda para configurar las opciones de pago en checkout.</li>
                <li>1 hora de entrenamiento en Shopify.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="padding-bottom-35">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="middle-title middle-title-lg">Servicios adicionales a la implementación:</h2>
          </div>
        </div>
        <div class="row vertical-center">
          <div class="col-sm-3 ">
            <img src="images/Icon_SEO-performance.png" class="img-responsive implementacion" alt="Responsive image">
          </div>
          <div class="col-sm-9 ">
            <div class="row">
              <div class="col-md-6">
                <ul class="list list-type-3">
                  <li>
                    <a class="white-bg" href="diseno.html">Diseño personalizado de tu tienda.</a>
                  </li>
                  <li>
                    <a class="white-bg" href="marketing.html">Servicios de marketing.</a>
                  </li>
                  <li>Instalacion y configuracion de apps.</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list list-type-3">
                  <li>Configurar productos (imágenes, descripciones, precios).</li>
                  <li>Configuración páginas y productos adicionales.</li>
                  <li>Servicios de copywriting.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--SECTION-->
  <section class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-block">
            <h2 class="title">Comienza a vender en internet</h2>
            <div class="sub-title">
              Por favor proporcionamos tantos detalles como te sea posible para poder darte la mejor atención. Nos pondremos en contacto lo mas pronto posible típicamente respondemos el mismo día laboral.
            </div>
          </div>
        </div>
      </div>
      <%= partial "partials/service-form" %>
    </div>
  </section>
  <!--SECTION-->
  <%= partial "partials/lead-magnet" %>
</main>

<script>
  setTimeout(function () {
    // A $( document ).ready() block.
    $(document).ready(function () {
      $("#area").val("implementacion");
    });
  }, 2000);
</script>
