---
title: E-COMMERCE DE ALTO DESEMPEÑO
description: Somos Magma Interactive, un estudio digital enfocado en el diseño, construcción y promoción de sitios de e-commerce de alto desempeño.
keywords: e-commerce, shopify
---

<div class="banner full-height-banner">
  <div class="no-swiper-container full-height-slider home-full-height-slider swiper-swiper-unique-id-0 initialized" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1" id="swiper-unique-id-0">
    <div class="swiper-wrapper">
      <div class="swiper-slide home-hero-section" style="width: 100%; height: 700px; background-image: url(&quot;images/home3.jpg&quot;);">
        <div class="overlay"></div>
        <div class="center">
          <h1 class="slide-title">E-Commerce de alto desempeño</h1>
          <div class="slider-sub-title">Somos Magma Interactive, un estudio digital enfocado en el diseño, construcción y promoción de sitios de e-commerce de alto desempeño.</div>
          <div class="button-row">
            <a class="button-type-4 scroll-to" href="">saber mas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-to scroll-to-hd arrow-bottom arrow-bottom-light">
    <span>empezar</span>
    <i class="fa fa-chevron-down"></i>
  </div>
</div>
<!--SECTION-->
<section class="section section-border start-block">
  <div class="container">
    <div class="padding-bottom-35">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="middle-title middle-title-lg">Nuestra misión</h2>
          <p>Imagina lo que hará por tu negocio convertir compradores casuales en compradores de por vida, trabajando contigo hacemos crecer tu utilidad, generando más visitantes, mejorando tu tasa de conversión atrayendo a compradores de primera ocasión
            para que vuelvan por más.</p>
        </div>
        <div class="col-sm-6">
          <img class="img-responsive" src="images/devices-magma.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!--SECTION-->
<section class="section section-border section-gray">
  <div class="container">
    <div class="title-block">
      <h2 class="title">Cómo podemos ayudarte</h2>
      <div class="sub-title">Nos enfocamos en 4 áreas para darte resultados:</div>
    </div>
    <div class="row">
      <div class="col-sm-3 icon-style icon-style-1">
        <span class="icon-gears"></span>
        <h3 class="middle-title middle-title_center">Implementación</h3>
        <p>Todo lo que necesitas configurar para vender en internet, nosotros lo hacemos por ti.</p>
        <a class="button button-type-2-xs" href="implementacion.html">saber mas</a>
      </div>
      <div class="col-sm-3 icon-style icon-style-1">
        <span class="icon-pencil"></span>
        <h3 class="middle-title middle-title_center">Diseño web</h3>
        <p>Somos expertos en el diseño y construcción de sitios personalizados de e-commerce.</p>
        <a class="button button-type-2-xs" href="diseno.html">saber mas</a>
      </div>
      <div class="col-sm-3 icon-style icon-style-1">
        <span class="icon-megaphone"></span>
        <h3 class="middle-title middle-title_center">Marketing digital</h3>
        <p>Campañas de email marketing, google adwords y retargeting para un máximo ROI.</p>
        <a class="button button-type-2-xs" href="marketing.html">saber mas</a>
      </div>
      <div class="col-sm-3 icon-style icon-style-1">
        <span class="icon-adjustments"></span>
        <h3 class="middle-title middle-title_center">Optimización</h3>
        <p>Optimizamos tu tienda online existente para duplicar su conversión y tus ganancias.</p>
        <a class="button button-type-2-xs" href="optimizacion.html">saber mas</a>
      </div>
    </div>
  </div>
</section>
<!--SECTION-->
<section class="section section-border">
  <div class="container">
    <div class="title-block">
      <h2 class="title">Cómo lo hacemos</h2>
      <div class="sub-title">
        Estos son los principios que aplicamos para darte resultados:
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-4 process-style icon-style ">
        <span class="step-line"></span>
        <span class="icon-telescope"></span>
        <div class="step">
          <span class="step-span">Paso 1</span>
        </div>
        <h3 class="middle-title ">Conocer tu negocio</h3>
        <p>Cuéntanos quien eres, que necesitas y donde a donde quieres llegar con tu tienda en internet.</p>
      </div>
      <div class="col-sm-4 process-style icon-style ">
        <span class="icon-gears"></span>
        <span class="step-line"></span>
        <div class="step">
          <span class="step-span">Paso 2</span>
        </div>
        <h3 class="middle-title ">Proponer soluciones</h3>
        <p>Usamos esta información para ofrecerte la estrategia que necesitas para lograr tus objetivos.</p>
      </div>
      <div class="col-sm-4 process-style icon-style ">
        <span class="icon-layers"></span>
        <span class="step-line"></span>
        <div class="step">
          <span class="step-span">Paso 3</span>
        </div>
        <h3 class="middle-title ">Aprender y medir</h3>
        <p>Después del lanzamiento de tu tienda estamos contigo para optimizar las conversiones de tu negocio.</p>
      </div>
    </div>
  </div>
</section>
<!--SECTION-->
<%= partial "partials/lead-magnet" %>

<!--SECTION-->
<section class="section">
  <div class="container">
    <div class="title-block">
      <h2 class="title">Partners</h2>
    </div>
    <div class="partners-container">
      <div class="partner">
        <img src="images/logo-shopify.png" alt="">
      </div>
      <div class="partner">
        <img src="images/logo-google.png" alt="">
      </div>
      <div class="partner">
        <img src="images/logo-mailchimp.png" alt="">
      </div>
      <div class="partner">
        <img src="images/logo-paypal.png" alt="">
      </div>
    </div>
  </div>
</section>
<!--SECTION-->
<section class="section section-border">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="middle-title middle-title-lg">Shopify te da las herramientas que necesitas en tu tienda en línea.</h3>
        <ul class="list list-type-3">
          <li>Administra tu tienda desde cualquier conexión a internet</li>
          <li>Diseño personalizable y listo para dispositivos móviles</li>
          <li>Herramientas de marketing, seo, promociones y descuentos</li>
          <li>Reportes de ventas y órdenes en tiempo real</li>
          <li>Y mucho más…</li>
        </ul>
        <a class="button button-type-1-md" href="https://es.shopify.com/" target="_blank">prueba gratis shopify</a>
      </div>
      <div class="col-sm-6">
        <img class="img-responsive" src="images/image_shopify.png" alt="">
      </div>
    </div>
  </div>
</section>
