---
title: MARKETING PARA QUE TU TIENDA CREZCA
description: Estrategias de marketing en línea probadas para que vendas más
keywords: e-commerce, shopify
---

<div class="banner banner-template">
  <div class="container">
    <div class="title-header">
      <h1>Marketing para que tu tienda crezca</h1>
      <h6 class="header-sub-title">Estrategias de marketing en línea probadas para que vendas más</h6>
    </div>
  </div>
  <div class="scroll-to mouse">
    <span></span>
  </div>
  <div class="clip">
    <div class="bg bg-bg" style="background-image:url(images/interior_3.jpg)"></div>
  </div>
  <div class="overlay"></div>
</div>
<!-- MAIN -->
<main class="main start-block">
  <!--SECTION-->
  <section class="section section-border start-block">
    <div class="container">
      <div class="padding-bottom-35">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="middle-title middle-title-lg">Estos son los servicios de marketing que tenemos para ti</h2>
          </div>
        </div>
      </div>
      <div class="padding-bottom-35">
        <div class="row">
          <div class="col-md-4 service-widget">
            <img src="images/Icon_e-mail-marketing.png" class="img-responsive marketing-service" alt="Responsive image">
            <h2 class="middle-title middle-title-lg">Email marketing</h2>
            <p>Es tu arma secreta para convertir clientes de primera ocasión en clientes de por vida. Te ayudamos a sacarles provecho con herramientas y estrategias personalizadas para marcas de e-commerce.</p>
            <a class="button button-type-2-xs" href="email-marketing.html">saber mas</a>
          </div>
          <div class="col-md-4 service-widget">
            <img src="images/Icon_search.png" class="img-responsive marketing-service" alt="Responsive image">
            <h2 class="middle-title middle-title-lg">Ecommerce SEO</h2>
            <p>El Ecommerce SEO efectivo es como tener un vendedor en línea trabajando para ti 24/7. Haremos crecer tu tráfico de búsquedas orgánicas para que te de mas clientes.</p>
            <a class="button button-type-2-xs" href="ecommerce-seo.html">saber mas</a>
          </div>
          <div class="col-md-4 service-widget">
            <img src="images/Icon_target.png" class="img-responsive marketing-service" alt="Responsive image">
            <h2 class="middle-title middle-title-lg">PPC marketing</h2>
            <p>Incrementa en tu negocio el trafico de compradores calificados que buscan tus productos en internet, nos aseguramos de que obtengas el máximo retorno de inversión posible.</p>
            <a class="button button-type-2-xs" href="ppc.html">saber mas</a>
          </div>
        </div>
      </div>
      <div class="padding-bottom-35">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="middle-title middle-title-lg">Cómo trabajamos tus campañas de marketing</h2>
          </div>
        </div>
      </div>
      <div class="padding-bottom-35">
        <div class="row ">
          <div class="col-sm-6 col-md-3 process-style icon-style ">
            <span class="step-line"></span>
            <span class="icon-telescope"></span>
            <div class="step">
              <span class="step-span">Paso 1</span>
            </div>
            <h3 class="middle-title ">Definimos objetivos</h3>
            <p>Trabajamos contigo para tener claro tus objetivos de negocio, desde incrementar tu reconocimiento de marca hasta generar mas ventas, te ayudamos a identificar oportunidades y escoger indicadores de desempeño que nos permiten medir tu progreso.</p>
          </div>
          <div class="col-sm-6 col-md-3 process-style icon-style ">
            <span class="icon-gears"></span>
            <span class="step-line"></span>
            <div class="step">
              <span class="step-span">Paso 2</span>
            </div>
            <h3 class="middle-title ">Analizamos tu competencia</h3>
            <p>Mantenerse al tanto de tu competencia nos provee conocimientos valiosos de tu mercado, nos ayuda a identificar oportunidades perdidas y nos permite estar un paso adelante de todos.</p>
          </div>
          <div class="col-sm-6 col-md-3 process-style  icon-style ">
            <span class="icon-layers"></span>
            <span class="step-line"></span>
            <div class="step">
              <span class="step-span">Paso 3</span>
            </div>
            <h3 class="middle-title ">Desarrollamos un plan de marketing</h3>
            <p>Un plan estratégico de marketing define un camino para promover tu negocio en línea. Cubrimos desde planear el contenido de tu sitio hasta, redes sociales e email marketing.</p>
          </div>
          <div class="col-sm-6 col-md-3 process-style icon-style ">
            <span class="icon-laptop"></span>
            <span class="step-line"></span>
            <div class="step">
              <span class="step-span">Paso 4</span>
            </div>
            <h3 class="middle-title ">Analizamos y medimos</h3>
            <p>Para realmente entender cómo tus actividades de marketing se están desempeñando, es necesario analizarlos regularmente. Google Analytics y otras herramientas nos permiten conocer el comportamiento de los visitantes de tu tienda y la efectividad
              del marketing que aplicamos.</p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!--SECTION-->
  <section class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-block">
            <h2 class="title">Queremos ser tu socio en marketing en linea</h2>
            <div class="sub-title">
              Por favor proporcionamos tantos detalles como te sea posible para poder darte la mejor atención. Nos pondremos en contacto lo mas pronto posible típicamente respondemos el mismo día laboral.
            </div>
          </div>
        </div>
      </div>
      <%= partial "partials/service-form" %>
    </div>
  </section>
  <!--SECTION-->
  <%= partial "partials/lead-magnet" %>
</main>

<script>
  setTimeout(function () {
    // A $( document ).ready() block.
    $(document).ready(function () {
      $("#area").val("marketing");
    });
  }, 2000);
</script>
