---
title: No re-diseñes tu tienda Shopify, rescatala.
description: Convierte tu tienda Shopify en una máquina generadora de ingresos para tu negocio.
layout: optimization_layout
keywords: implementacion, magma interactive
---

<div class="banner banner-template">
  <div class="clip">
    <div class="bg bg-bg" style="background-image:url(images/interior_3.jpg)"></div>
  </div>
  <div class="overlay"></div>
  <div class="container">
    <div class="title-header" style="z-index:auto;">
      <h1>No re diseñes tu tienda Shopify, renuevala.</h1>
      <h6 class="header-sub-title">Convierte tu tienda Shopify en una máquina generadora de ingresos para tu negocio.</h6>
    </div>
  </div>
  <div class="scroll-to mouse" style="z-index:auto;">
    <span></span>
  </div>
</div>
<!-- MAIN -->
<main class="main start-block">
  <!--SECTION-->
  <section class="section section-border start-block">
    <div class="container">
      <div class="padding-bottom-35">
        <div class="row vertical-center">
          <div class="col-xs-12 col-md-7">
            <h2 class="middle-title middle-title-lg">Dejanos optimizar tu tienda Shopify y hacer crecer tu negocio</h2>
            <p>Dinos si esto te suena familiar, tienes una tienda de comercio electrónico. No está mal. Técnicamente funciona. Está bien, supongo ... es sólo un poco vieja. Estás preocupado porque no atraes clientes y ventas de
              la forma en que solía hacerlo. Te das cuenta que no está actualizada y que te estas quedando detrás de tu competencia. La gente se queja que el sitio es lento y tarda mucho en cargar y se pueden ver las consecuencias de esto en tus ventas.</p>
            <p>Esto no es tu expertise. Sabes que necesitas hacer un cambio, pero no puedes identificar en qué. Tu sitio web deficiente también significa que no tienes el dinero para invertir en un rediseño costoso o contratar a un experto técnico durante meses. Necesitas a alguien para darle una optimización de emergencia. Rápido.</p>
            <p>Si lo anterior te suena familiar, es el momento para renovar tu tienda online.</p>
          </div>
          <div class="col-md-12 col-lg-5">
            <img src="images/Icon-optimization.png" class="img-responsive" alt="Responsive image">
          </div>
        </div>
      </div>
      <div class="padding-bottom-35">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="middle-title middle-title-lg">Renueva y optimiza tu tienda Shopify en una semana</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>En una semana podemos diagnosticar los problemas con tu tienda online, solucionarlos, y aumentar tus conversiones, por 1/10 del coste de un típico re diseño. ¿Suena demasiado bueno para ser verdad? No lo es.</p>
            <p>En lugar de empezar desde cero con un nuevo sitio web, hacemos docenas de pequeñas correcciones para tu tema de Shopify existente. Si bien los cambios no son mayores todos los cambios combinados hacen un gran impacto en el comportamiento de tus
              usuarios y por lo tanto en tu ganancia. Tu sitio web renueva su rendimiento y diseño todo listo en siete días. Piensa en nosotros como un equipo de rescate para tu negocio.</p>
          </div>
          <div class="col-md-6">
            <p>Una renovacion tipica de una tienda en linea verá 30-40 cambios destinados a mejorar el rendimiento, usabilidad, SEO, y diseño. Los cambios incluyen:</p>
            <ol class="list list-type-2 ">
              <li>Adición de espacio en blanco para permitir que el contenido respire.</li>
              <li>Optimización de imágenes para tiempos de carga más rápidos.</li>
              <li>Contenido y meta etiquetas de auditoría para impulsar SEO.</li>
              <li>Eliminación de elementos de distracción.</li>
              <li>Adición de señales de confianza para la credibilidad.</li>
              <li>La adición o la reescritura de llamadas a la acción.</li>
              <li>Sugerir nuevos títulos y etiquetas.</li>
              <li>Actualización de diseños para centrar la atención.</li>
              <li>Mejorar la legibilidad.</li>
              <li>Corrección de estilo.</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="padding-bottom-35">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="middle-title middle-title-lg">Esto es lo que vamos a hacer juntos ... Lograr un ROI máximo</h2>
            <p>Queremos que tengas el máximo retorno por cada peso que inviertes en tu tienda e-commerce con Shopify. La renovación de la tienda online tiene un costo fijo de $ 17,543. No hay cargos ocultos ni adicionales. Sólo un retorno de la inversión dramático para
              ti.</p>
            <p>Para reducir aún más tu riesgo, si el porcentaje de abandonos de tu sitio web no ha mejorado 30 días después de nuestra optimización, lo revisaremos hasta que lo haga. Esa es nuestra garantía de rendimiento web 30 días.</p>
          </div>
        </div>
      </div>
      <div class="row padding-bottom-35">
        <div class="col-sm-4 icon-style icon-style-1">
          <span class="icon-speedometer"></span>
          <h3 class="middle-title middle-title_center">Rápido</h3>
          <p>Te entregamos en siete días.</p>
        </div>
        <div class="col-sm-4 icon-style icon-style-1">
          <span class="icon-happy"></span>
          <h3 class="middle-title middle-title_center">Accesible</h3>
          <p>Retorno de la inversión de 5x.</p>
        </div>
        <div class="col-sm-4 icon-style icon-style-1">
          <span class="icon-presentation"></span>
          <h3 class="middle-title middle-title_center">Orientado a objetivos</h3>
          <p>Aumento de conversiones de 3x.</p>
        </div>
      </div>
      <div class="padding-bottom-35">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="middle-title middle-title-lg">Así trabajamos contigo en tu tienda e-commerce Shopify</h2>
          </div>
        </div>
      </div>
      <div class="padding-bottom-35">
        <div class="row ">
          <div class="col-sm-6 col-md-3 process-style icon-style ">
            <span class="step-line"></span>
            <span class="icon-strategy"></span>
            <div class="step">
              <span class="step-span">Paso 1</span>
            </div>
            <h3 class="middle-title ">On-boarding</h3>
            <p>Sesión inicial de on-boarding para conocer tus objetivos.</p>
          </div>
          <div class="col-sm-6 col-md-3 process-style icon-style ">
            <span class="icon-telescope"></span>
            <span class="step-line"></span>
            <div class="step">
              <span class="step-span">Paso 2</span>
            </div>
            <h3 class="middle-title ">Descubrimiento</h3>
            <p>Auditoría del sitio web para identificar los problemas que te detienen.</p>
          </div>
          <div class="col-sm-6 col-md-3 process-style  icon-style ">
            <span class="icon-pencil"></span>
            <span class="step-line"></span>
            <div class="step">
              <span class="step-span">Paso 3</span>
            </div>
            <h3 class="middle-title ">Diseño y desarrollo</h3>
            <p>Aplicación de correcciones, ajustes de optimización y ganancias rápidas.</p>
          </div>
          <div class="col-sm-6 col-md-3 process-style icon-style ">
            <span class="icon-laptop"></span>
            <span class="step-line"></span>
            <div class="step">
              <span class="step-span">Paso 4</span>
            </div>
            <h3 class="middle-title ">Informe y seguimiento</h3>
            <p>Un informe de todos los cambios realizados. Seguimientos periódicos en los próximos 12 meses para medir tu progreso.</p>
          </div>
        </div>
      </div>
      <div class="padding-bottom-35">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="middle-title middle-title-lg">¿Listo para sacar el máximo provecho de tu tienda en línea?</h2>
            <p>Sólo nos comprometemos a unos pocos proyectos a la vez. Esto nos permite ofrecer el más alto nivel de servicio posible manteniendo al mismo tiempo la entrega rápida del proyecto. Tenemos disponibilidad de tres nuevos clientes. Si tu eres uno de
              esos pocos clientes, queremos asegurarnos de que obtengas los mejores resultados posibles de nuestra relación. Aunque nos gusta pensar que podemos hacer eso por todo el mundo, hay algunos proyectos que no se beneficiarán de nuestro proceso. Tendrás
              el máximo rendimiento de trabajar con nosotros si:</p>
            <ol class="list list-type-2">
              <li>Quieres a alguien para comunicarse abierta y honestamente contigo.</li>
              <li>Tus objetivos de negocio y las expectativas de tus clientes determinan el diseño de tu negocio.</li>
              <li>No estás interesado en micro-administrar el diseño.</li>
            </ol>
            <p>Si estás buscando un equipo que se haga cargo de todas las decisiones de diseño por ti, eliminando el estrés del diseño web de tu vida en su totalidad, vamos a trabajar bien juntos.</p>
            <p>Está bien decir que no. No somos para todo el mundo. Pero si ves que podemos hacer match mandanos un mensaje y vamos a establecer una cita para discutir los detalles de tu proyecto.</p>
          </div>
        </div>
      </div>
      <div class="padding-bottom-35">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="middle-title middle-title-lg">Lo que nos preguntan...</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3>¿Qué van a hacer exactamente?</h3>
            <p>El primer paso para cada rescate de sitio web es simple: visitamos tu tienda y tratamos de comprar algo. Notamos cada cosa que crea algún tipo de fricción para comprar el producto. Cada punto de dolor, confusión, barrera a la entrada,
              objeción y frustración. Resolver esos problemas puede ser suficiente para duplicar la tasa de conversión de un sitio.</p>
            <h3>¿Y si quiero revisiones en mi renovacion de tienda e-commerce?</h3>
            <p>Esperamos que quieras ajustar tu tienda cuando hayamos terminado, por lo que cada renovacion de sitio web incluye una ronda de revisiones.</p>
            <h3>¿Cómo saben que pueden aumentar la tasa de conversión?</h3>
            <p>Tenemos trabajado más de 5 años en e-commerce, con nuestra experiencia y puntos de referencia si no podemos llegar a por lo menos 25 maneras de mejorar su tienda, no vamos a asumir el proyecto.</p>
            <h3>¿Es mi negocio un buen candidato para un rescate de sitio web?</h3>
            <p>Si tienes una tienda Shopify con al menos 100 visitantes diarios, y quieres darles una mejor experiencia que da lugar a más ventas, entonces es una buena opción.</p>
          </div>
          <div class="col-md-6">
            <h3>Mi tienda ya está optimizada, pero quiero ganar más dinero, ¿qué otra cosa podemos hacer?</h3>
            <p>Una de las herramientas más poderosas para optimizar una tienda son las encuestas a clientes. El desarrollo de clientes es un enfoque probado para tomar decisiones y desarrollar nuevos descubrimientos que revelan los motivos por los que los
              clientes compran.</p>
            <h3>¿Pueden ayudarme a planear mi tienda?</h3>
            <p>Seguro te podemos ayudar a guiar tu próximo proyecto hacia el éxito, con una sesión de planeación.</p>
            <h3>¿Y si necesito ayuda por una sola vez con una pequeña tarea?</h3>
            <p>Ofrecemos trabajos garantizados por $ 544 pesos la hora. Y si tu usas constantemente nuestros servicios por hora, podemos ofrecerte acuerdos de retención que ofrecen descuentos mensuales.</p>
            <h3>¿Trabajan con comercios que no usan Shopify?</h3>
            <p>No, nuestro equipo se centra exclusivamente en Shopify porque es donde conseguimos los mejores resultados para nuestros clientes.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--SECTION-->
  <section class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-block">
            <h2 class="title">Reserva tu consulta gratuita</h2>
            <div class="sub-title">
              Llena el formulario y en un momento nos pondremos en contacto para hablar de cómo puedes obtener un retorno de tu inversión por 5.
            </div>
          </div>
        </div>
      </div>
      <%= partial "partials/optimization-form" %>
    </div>
  </section>
  <!--SECTION-->
</main>
<%= partial "partials/drip-modal" %>
