---
title: Aviso de privacidad - Magma Interactive
---

<div class="banner banner-template">
  <div class="container">
    <div class="title-header">
      <h1>Aviso de privacidad</h1>
    </div>
  </div>
  <div class="scroll-to mouse">
    <span></span>
  </div>
  <div class="clip">
    <div class="bg bg-bg" style="background-image:url(images/interior_3.jpg)"></div>
  </div>
  <div class="overlay"></div>
</div>
<!-- MAIN -->
<main class="main start-block">
  <section class="section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
          <table border="0" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 20px;width: 100%;margin-left:10%;padding: 0;margin: 0;border: none;border-collapse:collapse;" align="center">
            <tr>
              <td style="text-align: center;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 20px;">
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
          <table border="0" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;width: 100%;padding: 0;border: none;border-collapse:collapse;">
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">Magma Interactive, mejor conocido como Magma Interactive, con domicilio en calle Huatusco 23 202 Col.Roma sur, colonia Roma
                Sur, Ciudad Mexico, municipio o delegación Mexico, c.p. 06760, en la entidad de Distrito Federal, país México, y portal de internet www.magmainteractive.com, es el responsable del uso y protección de sus datos personales, y al respecto le informamos
                lo siguiente:
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;">
                ¿Para qué fines utilizaremos sus datos personales?
              </td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                <ul></ul>
              </td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                <br>De manera adicional, utilizaremos su información personal para las siguientes finalidades secundarias que
                <b>no son necesarias</b>
                para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atención:<br>
              </td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                <ul>
                  <li>Uso publicitario</li>
                  <li>Entrega de información, eventos, promociones, descuentos, etc.</li>
                  <li>Mercadotecnia o publicitaria</li>
                  <li>Prospección comercial</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">En caso de que no desee que sus datos personales se utilicen para estos fines secundarios, indíquelo a continuación:<br><br>No consiento que mis datos personales se utilicen para los siguientes fines:<br><br>
                <font size=4>[&nbsp;&nbsp;]</font>&nbsp;Uso publicitario<br>
                <font size=4>[&nbsp;&nbsp;]</font>&nbsp;Entrega de información, eventos, promociones, descuentos, etc.<br>
                <font size=4>[&nbsp;&nbsp;]&nbsp;</font>Mercadotecnia o publicitaria
                <br>
                <font size=4>[&nbsp;&nbsp;]&nbsp;</font>Prospección comercial
                <br><br></td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;"></td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                <br>La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios y productos que solicita o contrata con nosotros.<br></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;">
                ¿Qué datos personales utilizaremos para estos fines?
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales:<br>
                <ul>
                  <li>Datos de contacto</li>
                </ul>
              </td>
            </tr>
          </table>
          <table align="center" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;padding: 0;width: 100%;border-collapse:collapse;" border="0">
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;">
                <br>¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté
                desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus datos personales
                para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a través del siguiente medio:
                <br><br>&#097;&#114;&#099;&#111;&#064;&#109;&#097;&#103;&#109;&#097;&#105;&#110;&#116;&#101;&#114;&#097;&#099;&#116;&#105;&#118;&#101;&#046;&#099;&#111;&#109;
              </td>
            </tr>
          </table><br>
          <table align="left" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;padding: 0;width: 100%;border-collapse:collapse;" border="0">
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                <font style="font-weight: lighter;font-size: 13px;font-family:Arial, Helvetica, sans-serif">Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, ponemos a su disposición el siguiente medio:<br><br>las sucursales u oficinas del responsable</font>
              </td>
            </tr>
          </table>
          <table align="left" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;padding: 0;width: 100%;border-collapse:collapse;" border="0">
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                <br>Los datos de contacto de la persona o departamento de datos personales, que está a cargo de dar trámite a las solicitudes de derechos ARCO, son los siguientes:
                <br></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">a) Nombre de la persona o departamento de datos personales: Héctor León<br>b) Domicilio: calle Huatusco 23, colonia Roma Sur, ciudad Mexico, municipio o delegación Mexico, c.p. 06760, en la entidad de Distrito Federal, país México<br>d) Número telefónico: 15532326745<br><br>
                <b>Usted puede revocar su consentimiento para el uso de sus datos personales</b><br><br>
                Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma
                inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el
                servicio que nos solicitó, o la conclusión de su relación con nosotros.<br><br>

                Para revocar su consentimiento deberá presentar su solicitud a través del siguiente medio:
                <br><br>&#097;&#114;&#099;&#111;&#064;&#109;&#097;&#103;&#109;&#097;&#105;&#110;&#116;&#101;&#114;&#097;&#099;&#116;&#105;&#118;&#101;&#046;&#099;&#111;&#109;
              </td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                <br>Para conocer el procedimiento y requisitos para la revocación del consentimiento, ponemos a su disposición el siguiente medio:<br><br>correo electronico<br><br>
              </td>
            </tr>
          </table>
          <table align="center" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;padding: 0;width: 100%;border-collapse:collapse;" border="0">
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;">
                ¿Cómo puede limitar el uso o divulgación de su información personal?
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le ofrecemos los siguientes medios:
                <br><br>correo electronico<br><br></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
          <table align="center" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;padding: 0;width: 100%;border-collapse:collapse;" border="0">
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                Asimismo, usted se podrá inscribir a los siguientes registros, en caso de que no desee obtener publicidad de nuestra parte:
                <br><br>
                Registro Público de Usuarios, para mayor información consulte el portal de internet de la CONDUSEF<br><br></td>
            </tr>
          </table>
          <table align="left" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;padding: 0;width: 100%;border-collapse:collapse;" border="0">
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;width: 100%">
                <br>¿Cómo puede conocer los cambios en este aviso de privacidad?</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de
                cambios en nuestro modelo de negocio, o por otras causas.<br>
                <br>Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a través de: correo electronico.<br><br>El procedimiento a través del cual se llevarán a cabo las notificaciones sobre cambios o actualizaciones al presente aviso de privacidad es el siguiente:
                <br><br>publicación dentro del sitio web</td>
            </tr>
          </table>
          <table width="100%" align="right">
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: right;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                Última actualización: 07/03/2016
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
