---
pageable: true
per_page: 10
---


<div class="banner banner-template">
  <div class="container">
    <div class="title-header">
      <h1>Artículos
      </h1>
      <h6 class="header-sub-title">Lo ultimo en comercio electrónico</h6>
    </div>
  </div>
  <div class="scroll-to mouse">
    <span></span>
  </div>
  <div class="clip">
    <div class="bg bg-bg" style="background-image:url(images/interior_3.jpg)"></div>
  </div>
  <div class="overlay"></div>
</div>
<!-- MAIN -->
<main class="main-blog start-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <h1>Articles tagged '<%= tagname %>'</h1>

        <% if paginate && num_pages > 1 %>
          <p>Page <%= page_number %> of <%= num_pages %></p>

          <% if prev_page %>
            <p><%= link_to 'Previous page', prev_page %></p>
          <% end %>
        <% end %>

        <ul>
          <% page_articles.each_with_index do |article, i| %>
            <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
          <% end %>
        </ul>

        <% if paginate %>
          <% if next_page %>
            <p><%= link_to 'Next page', next_page %></p>
          <% end %>
        <% end %>
        <div class="post-pagination">
          <ul class="post-pagination-list clearfix">
            <li class="active">
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <span>...</span>
            </li>
            <li>
              <a href="#">9</a>
            </li>
          </ul>
          <a class="next-page" href="#">
            <i class="fa fa-chevron-right"></i>
          </a>
          <a class="prev-page" href="#">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="widget">
          <h3 class="middle-title">Categorias</h3>
          <ul class="widget-list">
            <li>
              <a href="single.html">Branding
                <span>- 7
                </span>
              </a>
            </li>
            <li>
              <a href="single.html">Diseño
                <span>- 15
                </span>
              </a>
            </li>
            <li>
              <a href="single.html">Desarrollo
                <span>- 3
                </span>
              </a>
            </li>
            <li>
              <a href="single.html">UX
                <span>- 7
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="widget">
          <h3 class="middle-title">Etiquetas</h3>
          <div class="tags-box clearfix">
            <% blog.tags.each do |tag, articles| %>
              <a class="tags button button-type-3-xs" href="<%= tag_path(tag) %>"><%= tag %> (<%= articles.size %>)</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
