---
title: Aviso de privacidad - Magma Interactive
---

<div class="banner banner-template">
  <div class="container">
    <div class="title-header">
      <h1>Términos y Condiciones de Uso</h1>
    </div>
  </div>
  <div class="scroll-to mouse">
    <span></span>
  </div>
  <div class="clip">
    <div class="bg bg-bg" style="background-image:url(images/interior_3.jpg)"></div>
  </div>
  <div class="overlay"></div>
</div>
<!-- MAIN -->
<main class="main start-block">
  <section class="section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
          <table border="0" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 20px;width: 100%;margin-left:10%;padding: 0;margin: 0;border: none;border-collapse:collapse;" align="center">
            <tr>
              <td style="text-align: center;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 20px;"></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
          <table border="0" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;width: 100%;padding: 0;border: none;border-collapse:collapse;">
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;">
                1. Condiciones
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                Al acceder a este sitio web, usted acepta estar obligado por estos Términos y Condiciones de Uso, todas las leyes y reglamentos aplicables, y está de acuerdo en que es responsable del cumplimiento de las leyes locales aplicables. Si no está de
                acuerdo con cualquier de estos términos, tiene prohibido el uso o acceso a este sitio. Los materiales contenidos en este sitio web están protegidos por derechos de autor y derecho de marca.
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;">
                2. Licencia de uso
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                a. Se concede permiso para descargar temporalmente una copia de los materiales (información o software) en el sitio web de Magma Interactive para uso personal, no comercial. Esta es la concesión de una licencia, no una transferencia del título, y
                bajo esta licencia no podrá:
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                <ul>
                  <li>i. modificar o copiar los materiales;</li>
                  <li>ii. utilizar los materiales para cualquier propósito comercial, o para cualquier exhibición pública (comercial o no comercial);</li>
                  <li>iii. intentar descompilar o realizar ingeniería inversa a cualquier software contenido en el sitio web de Magma Interactive;</li>
                  <li>iv. eliminar cualquier derecho de autor u otras notaciones de propiedad de los materiales; o</li>
                  <li>v. transferir el material a otra persona o "reflejar" los materiales en cualquier otro servidor.</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                b. Esta licencia terminará automáticamente si usted viola cualquiera de estas restricciones y puede ser terminado por Magma Interactive en cualquier momento. Al terminar la visualización de estos materiales o al término de esta licencia, debe
                destruir cualquier material descargado en su poder ya sea en formato electrónico o formato impreso.
              </td>
            </tr>
          </table>
          <table align="center" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;padding: 0;width: 100%;border-collapse:collapse;" border="0">
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;">
                <br>3. Exclusión
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                a. Los materiales en el sitio web de Magma Interactive se proporcionan "tal cual". Magma Interactive no ofrece ninguna garantía, expresa o implícita, y por la presente renuncia y niega todas las demás garantías, incluyendo, sin limitación, las
                garantías o condiciones implícitas de comerciabilidad, adecuación para un propósito particular o no infracción de la propiedad intelectual o cualquier otra violación de los derechos. Además, Magma Interactive no garantiza ni hace ninguna
                representación sobre la exactitud, los resultados probables, o la fiabilidad de la utilización de los materiales en su página de Internet o de otra manera relativa a los materiales o en cualquier sitio ligado a este sitio.</td>
            </tr>
          </table><br>
          <table align="center" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;padding: 0;width: 100%;border-collapse:collapse;" border="0">
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;">
                4. Limitaciones
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                En ningún caso Magma Interactive o sus proveedores serán responsables por cualquier daño (incluyendo, sin limitación, daños por pérdida de datos o beneficios, o debido a la interrupción del negocio,) que surjan del uso o la imposibilidad de utilizar
                los materiales en el sitio de Internet de Magma Interactive, incluso si Magma Interactive o de un representante autorizado de Magma Interactive ha sido notificado en forma oral o por escrito de la posibilidad de tales daños. Debido a que algunas
                jurisdicciones no permiten limitaciones en garantías implícitas o limitaciones de responsabilidad por daños indirectos o incidentales, estas limitaciones pueden no aplicarse en su caso.</td>
            </tr>
          </table>
          <table align="left" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;padding: 0;width: 100%;border-collapse:collapse;" border="0">
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;width: 100%">
                <br>5. Las revisiones y erratas</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                Los materiales que aparecen en el sitio web de Magma Interactive podrían incluir errores en aspectos técnicos, tipográficos o fotográficos. Magma Interactive no garantiza que cualquiera de los materiales en su página web sea precisa, completa o
                actualizada. Magma Interactive puede hacer cambios a los materiales contenidos en su sitio web en cualquier momento y sin previo aviso, no significa, sin embargo, que se compromete a actualizar los materiales.</td>
            </tr>
          </table>
          <table align="left" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;padding: 0;width: 100%;border-collapse:collapse;" border="0">
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;width: 100%">
                <br>6. Enlaces</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                Magma Interactive no ha revisado todos los sitios vinculados a su página de Internet y no se hace responsable de los contenidos de dicho sitio. La inclusión de estos vínculos no implica reconocimiento alguno por parte Magma Interactive del sitio. El
                uso de cualquier sitio web vinculado es bajo el propio riesgo del usuario.</td>
            </tr>
          </table>
          <table align="left" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;padding: 0;width: 100%;border-collapse:collapse;" border="0">
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;width: 100%">
                <br>7. Modificaciones de Términos de Uso</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                Magma Interactive puede revisar estos términos de uso del sitio web en cualquier momento sin aviso. Mediante el uso de este sitio web, usted acepta que quedará vinculado por la entonces actual versión de estos Términos y Condiciones de Uso.</td>
            </tr>
          </table>
          <table align="left" style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;padding: 0;width: 100%;border-collapse:collapse;" border="0">
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 13px;width: 100%">
                <br>8. Ley de Gobierno</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: left;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                Cualquier reclamación relacionada con el sitio web de Magma Interactive se regirá por las leyes de la Ciudad de México.</td>
            </tr>
          </table>
          <table width="100%" align="right">
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: right;color: #000000;font-family: Arial, Helvetica, sans-serif;font-weight: lighter;font-size: 13px;">
                Última actualización: 30/03/2016
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
